@{
    ViewBag.Title = "Index";
    string user = @User.Identity.Name;
}

@using (Html.BeginForm("FileUpload", "Aplication", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <br />
        Seleccione las imágenes<br />
        <input type="file" name="files" id="files" style="width: 100%;" multiple/> <br />
        <input type="submit" value="Upload" class="submit" />
    </div>
}

@{
    ViewBag.Title = "Display";
}

@{
    CloudOCR.Models.ApplicationDbContext db = new CloudOCR.Models.ApplicationDbContext();
}
@using (Html.BeginForm())
{
    <table border="1">
        <tbody>
            
            @foreach (var item in db.PicturesSet)
            {
                    <tr>
                        <td> <img src="~/Content/Images/@item.flName" width="200" height="300" /></td>
                    </tr>
                
            }
        </tbody>
    </table>
}
