@{
    ViewBag.Title = "Display";
}
@{
    string user = @User.Identity.Name;
}
@{
    CloudOCR.Models.ApplicationDbContext db = new CloudOCR.Models.ApplicationDbContext();
}

@using (Ajax.BeginForm("FileUpload", "Aplication", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 400px; height: 500px;"></div>
        <div>
            <span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar imagen</span>
            <span class="fileinput-exists">Cambiar</span><input type="file" name="..."></span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Quitar</a>
        </div>
    </div>

    <div>
        Seleccione las imágenes<br />
        <input type="file" name="files" id="files" style="width: 100%;" multiple /><br>
        <span><button type="submit" class="btn btn-primary"> Cargar Imágenes </button></span>
    </div>
}
<br />
<div class="progress progress-striped active">
    <div class="progress-bar" role="progressbar" style="width: 0%">
        <div class="sr-only">0%</div>
    </div>
</div>
<div id="status"></div>


@using (Html.BeginForm())
{
    
    <table border="1">
        <tbody>
            
            @foreach (var item in db.PicturesSet)
            {
                    <tr>
                        <td> <img src="~/Content/Images/@item.flName" width="200" height="300" /></td>
                    </tr>
                
            }
        </tbody>
    </table>
}

<script>
    (function () {

        var bar = $('.progress-bar');
        var percent = $('.sr-only');
        var status = $('#status');

        $('form').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            success: function () {
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
                $('.progress-bar').hide();
            }
        });

    })();
</script>