@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("FileUpload", "Aplication", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
    <div>
        <br />
        Image<br />
        <input type="file" name="file" id="file" style="width: 100%;" /> <br />
        <input type="submit" value="Upload" class="submit" />
    </div>
}

@{
    ViewBag.Title = "Display";
}

@{
    CloudOCR.Models.ApplicationDbContext db = new CloudOCR.Models.ApplicationDbContext();
}
@using (Html.BeginForm())
{
    <table border="1">
        <tbody>
            @foreach (var item in db.PicturesSet)
            {
                <tr>
                    <td> <img src="~/images/@item.flName" width="100" height="100" /></td>
                </tr>
            }
        </tbody>
    </table>
}
<!DOCTYPE html>
<html>
<head>
        <title>Cargar Archivos</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/UploadifyContent/uploadify.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.11.0.js"></script>
        <script src="~/Content/UploadifyContent/jquery.uploadify.min.js"></script>
        <script src="~/Scripts/swfobject.js"></script>
        <script type="text/javascript">
        $(function () {
        $('#file_upload').uploadify({
                    "uploader": '@Url.Action("Upload", "Aplication")',
                    "swf": '@Url.Content("/Content/UploadifyContent/uploadify.swf")',
                    "cancelImg": '/Content/UploadifyContent/uploadify-cancel.png',
                    "auto": true,
                    "buttonText": "Seleccione imagen",
                    "scriptData": {},
                    "multi": true,
                    "onComplete": function (event, ID, fileObj, response, data) {
                        var json = jQuery.parseJSON(response);
                        if (json == 'error') {
                            $("#error").html('Tipo de archivo no soportado');
                        }
                        else {
                            $("#uploaded").append("<img src='" + data + "' alt='Uploaded Image' />")
                        }
                    }
                });
            });
        </script>
</head>
<body>
    <div>
        <input type="file" name="file_upload" id="file_upload" />
    </div>
    <div id="uploaded">

    </div>
</body>


</html>