
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Aplicacion", "Aplication", FormMethod.Post))
{
    <!-- form goes here -->

    <input type="submit" value="Aplicación" />
}

@using (Html.BeginForm("editUser", "Aplication", FormMethod.Post))
{
    <!-- form goes here -->

    <input type="submit" value="Editar Usuarios" />
}