
@{
    ViewBag.Title = "Index";
}

<h2>Secciones de la Aplicación</h2>

@using (Html.BeginForm("Aplicacion", "Aplication", FormMethod.Post))
{
    <!-- form goes here -->
    <span><button type="submit" class="btn btn-primary"> Aplicación </button></span>
}