@{
    ViewBag.Title = "Contacto";
    ViewBag.Message = "Cualquier duda o comentario, sírvase manifestarlo en los datos a continuación:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avenida de las Culturas Veracruzanas no. 1<br />
    Col. Emiliano Zapata <br />
    Xalapa, Veracruz. CP. 91090<br />
    <abbr title="Phone">Teléfono:</abbr>
    2281000000
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:luisalas@uv.mx">luisalas@uv.mx</a><br />
    <strong>Soporte:</strong> <a href="mailto:luresalo@gmail.com">luresalo@gmail.com</a>
</address>