@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1><b>CloudOCR</b></h1>
    <h2>Sistema Web OCR para la digitalización de Trabajos Recepcionales</h2>
    <p class="lead" style="text-align: justify">
        Primero se necesita iniciar sesión en el sitio para poder acceder a las distintas funcionalidades
        del sistema, si aun no estás inscrito, registrate para disfrutar los beneficios que el sistema te ofrece.
    </p>
    @if (!Request.IsAuthenticated)
    {
        <p><a href="~/Account/Login" class="btn btn-primary btn-large">Iniciar Sesión &raquo;</a></p>
    }
</div>
<h2>Herramientas:</h2>
<div class="row">
    <div class="col-md-4">
        <h2><b>Motor Tesseract OCR</b></h2>
        <p style="text-align: justify;">
            Es un motor de reconocimiento óptico de caracteres de código abierto, fue uno de los 3 mejores motores
            de reconocimiento en 1995 en un test de exactitud aplicado por la Universidad de Nevada, Las Vegas. El
            motor fue desarrollado entre 1984 y 1994 por los laboratorios HP para funcionar con un escáner de escritorio.
        </p>
        <p><a class="btn btn-default" href="https://code.google.com/p/tesseract-ocr/">Visitar página oficial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><b>iTextSharp</b></h2>
        <p style="text-align: justify;">
            iTextSharp es una adaptación de la librería iText, la cual es una librería de código abierto que permite crear,
            adaptar, inspeccionar y manipular documentos PDF. Fue escrita por Bruno Lowagie, Paulo Soares y otros. iText y
            iTextSharp se distribuyen bajo una licencia Affero General Public License.
        </p>
        <p><a class="btn btn-default" href="http://sourceforge.net/projects/itextsharp/">Visitar página oficial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><b>AForge.NET</b></h2>
        <p style="text-align: justify;">
            Es un framework de código abierto diseñado para desarrolladores e investigadores en el campo de inteligencia
            artificial, procesado de imágenes, visión artificial redes neuronales, algoritmos genéticos, aprendizaje de
            máquinas, robótica. El framework fue desarrollado por Alexander Kirillow, se encuentra escrito en el lenguaje
            de programación C# y se distribuye bajo una licencia Lesser General Public License version 3.
        </p>
        <p><a class="btn btn-default" href="http://www.aforgenet.com/framework/">Visitar página oficial &raquo;</a></p>
    </div>
</div>